* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdbae1;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
    padding: 25px 25px 25px 75px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.left {
    flex: 1;
    text-align: left;
}

.logo-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-title .icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.logo-title h1 {
    font-size: 2.5em;
    color: #bc2d87;
}

.description {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
    margin: 25px 0;
    color: #555;
}

button.start-btn {
    padding: 10px 20px;
    margin-top: 30px;
    background-color: #c43c7b;
    color: #fff;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.start-btn:hover {
    background-color: #ef559d;
}

.right {
    flex: 1;
    text-align: center;
}

.right .illustration {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}